.page {
  box-sizing: $border-box;
  padding: $page-padding;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.heading {
  color: $white;
  text-align: center;
}

.error {
  color: $red;
  text-align: start
}